body {
	margin: 0;
	font-family: "MuseoModerno", sans-serif;
	color: black;
	font-weight: 900;
	background-color: #ffffff;
	overflow-x: hidden;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100px;
	padding: 100px 20vw;
}

/*Colors*/
.blue {
	background: #123274;
}

.textBlue {
	color: #123274;
}

.pink {
	background: #ee7bae;
}
.textPink {
	color: #ee7bae;
}

.green {
	background: #54bbab;
}
.textGreen {
	color: #54bbab;
}

.white {
	background: #ffffff;
}

.textWhite {
	color: #ffffff;
}

.cyan {
	background: #c9e3f7;
}

.violett {
	background-color: #a095c8;
}

.textViolett {
	color: #a095c8;
}

.orange {
	background-color: #f7a833;
}

.textOrange {
	color: #f7a833;
}

/*COLOR END*/

/* AR BUTTON*/
.buttonpos {
	z-index: 1;
	align-items: left;
	float: left;
	position: relative;
}

/* HAND SVG AR*/
.handpos {
	z-index: -1;
	align-items: right;
	float: right;
	position: relative;
}

model-viewer {
	height: 30em;
	width: 30em;
}

/* YOUTUBE VIDEO POS*/
.vidpos {
	align-items: center;
	float: center;
	position: relative;
}

/*Tilt*/
.tilt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.tilt svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 112px;
	transform: rotateY(180deg);
}

.tilt .shape-fill {
	fill: #123274;
}

/*TILT END*/

/*NAVBAR*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

a:hover {
	color: #ee7bae;
}

.active {
	color: #ee7bae;
}

.navbar {
	height: 60px;
	width: 100%;
	background: #123274;
	color: #ffffff;
	position: fixed;
	text-align: right;
	z-index: 1;
}

/*LOGO ON LEFT*/
.logoleft {
	max-height: 50px;
	padding: 5px 5%;
	float: left;
	display: block;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.navbar > label {
	margin-right: 30px;
	font-size: 25px;
	display: none;
	line-height: 60px;
	float: right;
	width: 26px;
}

/*HAMBURGER SHOWING UP AFTER RESIZE*/
#hamburger {
	display: none;
}

.nav-item {
	font-size: 25px;
	white-space: nowrap;
	position: relative;
	clear: right;
}
/*NAV END*/

/*FOOTER*/
.tiltfooter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.tiltfooter svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 100px;
	transform: rotateY(180deg);
}

.tiltfooter .shape-fill {
	fill: #123274;
}

.footersection {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 5px;
	padding: 5px 20vw;
}
/*FOOTER END*/

@media only screen and (max-width: 768px) {
	.navbar > label {
		display: block;
		cursor: pointer;
	}

	.menu {
		display: none;
		text-align: center;
		width: 100%;
	}

	.logoleft {
		position: fixed;
		max-height: 50px;
		padding: 5px 5%;
		float: left;
		display: block;
	}

	.menu a {
		display: block;
		background-color: #282a36;
		z-index: 1;
		position: relative;
		border-bottom: 1px solid #2b2b2b;
		line-height: 50px;
		margin: 0;
	}

	#hamburger:checked + .menu {
		display: block;
	}

	.validate a {
		flex-wrap: nowrap;
	}
}

/*NAVBAR END*/

/* TILT For mobile devices*/
@media (max-width: 767px) {
	.tilt svg {
		width: calc(145% + 1.3px);
		height: 97px;
	}
}

@media only screen and (max-width: 768px) {
	iframe {
		width: 280px;
		height: 260px;
	}

	model-viewer {
		height: 10em;
		width: 10em;
	}
}
